*.pyc
# Ignorer tous les fichiers .pyc
*.pyc

# Ignorer les dossiers .venv
.venv/
starterkit/.venv/
_assets/uploads
uploads
starterkit-1.3.17

migrations

alembic.ini

config.py



package.json

note.txt

